@font-face {
	font-family: "Montserrat-Thin"; 
	src: url("fonts/Montserrat-Thin.ttf") format("truetype");
	
}


	body {
	background-image: url("images/BG.png");
	background-size: cover;
	color: white;
	font-family: arial;
	
}
#panel {
	backdrop-filter: blur(15px);
	box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
	border-radius: 30px;
	border: 1.5px solid rgba(255 255 255, 0.18);
	padding: 20px 0;
	font-family: Montserrat-Thin;
	display: flex;
	gap: 20px;
	align-items: center;
	position: relative;
}
.buttons {
	border: none;
	background: none;
	color: white;
	font-family: Arial;
}

.nav-btn {
	color: white;
	font-family: Montserrat-Thin;
	font-weight: bold;
	text-decoration: none;
	z-index: 2;
	padding: 0 20px;
} 
#first {
	font-family: Arial;
	text-align: center;
	background: none;
	border: 1px;
	border-color: white;
}
.navs2 {
	backdrop-filter: blur(15px);
	box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
	border-radius: 30px;
	border: 1.5px solid rgba(255 255 255, 0.18);
	padding: 20px 0;
	font-family: Montserrat-Thin;
	gap: 20px;
	align-items: center;
	position: relative;
	width: 500px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
}

#login {
	backdrop-filter: blur(15px);
	border-radius: 20px;
	box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
	width: 500px;
	height: 500px;
	margin: 0 auto;
	align-items: center;
	text-align: center;
}
	
#logint {
	font-family: Arial;
	color: #0BB6C9;
	display: flex;
	position: relative;
	top: 30px;
	left: 40px;
}
#username {
	width: 250px;
	height: 50px;
	margin: 0 auto;
	border-radius: 20px;
	border: none;
	box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
}
.button {
	width: 250px;
	height: 50px;
	margin: 0 auto;
	border-radius: 20px;
	border: none;
	box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
	
	
}
#no {
	color: white;
}
